[submodule "themes\\hugo-paper;"]
	path = "themes\\hugo-paper;"
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "public"]
	path = public
	url = https://github.com/nickbom/nickbom.github.io
	branch = master
